{% extends 'home_base.html' %}
{% block main %}
{% load static %}
        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline">
                                <h3>About us</h3>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Home</li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
        <!-- about-area start -->
        <div class="about-area page-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-image">
                            <img src="{% static 'frontend/img/about/ab.jpg' %}" alt="">
                            <div class="video-content">
								<a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone">
									<i class="fa fa-play"></i>
								</a>
							</div>
                        </div>
                    </div>
                    <!-- column end -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-content">
							<h3>GCIT, Asset tagging application was built is to provide systematic and efficient ways to manage physical assets and keep track of it.</h3>
                            <p>
                            The college has a diverse range of assets, including computers, projectors, laboratory equipment, furniture, and other fixed assets. However, managing and tracking these assets is a challenging and time-consuming task that requires a manual inventory process. To address this challenge, GCIT college came up with the implementation of an asset tagging application. The asset tagging application will allow college administrators to assign unique identification numbers or qr code to each asset, enabling real-time tracking and management of assets.

                            </p>
                            <div class="about-details">
                                <ul class="marker-list">
									<li>
                                        To scan the assets to trace out the owner.
                                    </li>
									<li>
                                        To scan the assets to trace out the location.

                                    </li>
									<li>
                                        To keep a record of the assets by generating QR codes for individual assets.

                                    </li>
									<li>
                                        To report if there is any damage of assets.
                                    </li>
								</ul>
                            </div>
                        </div>
                    </div>
                    <!-- column end -->
                </div>
            </div>
        </div>

        <div class="banner-area area-padding">
            <div class="container">
         
              <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-all area-80 text-center">
                            <div class="banner-content">
                                <h3>Our Official Project Partners</h3>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="banner-all area-80 text-center">
                    <div class="partner-logos">
                      <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 1">
                      <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 2">
                      <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- End Banner Area -->
       
{% endblock %}
	</body>

</html>