{% extends 'home_base.html' %}
{% block main %}
{% load static %}
        <!-- Start Slider Area -->
        <div class="intro-area">
           <div class="main-overly"></div>
            <div class="intro-carousel">
                <div class="intro-content">
                    <div class="slider-images">
                        <img src="{% static 'frontend/img/slider/bg1.jpg' %}" alt="">
                    </div>
                    <div class="slider-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <!-- Start Slider content -->
                                            <div class="slide-content text-center">
                                                <h2 class="title2">GCIT Asset Tagging Application</h2>
                                                <div class="layer-1-3">
                                                    <a href="#" class="ready-btn left-btn" >Get started</a>
                                                </div>
                                            </div>
                                            <!-- End Slider content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-content">
                    <div class="slider-images">
                        <img src="{% static 'frontend/img/slider/slider2.jpeg' %}" alt="">
                    </div>
                    <div class="slider-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="container">
                                    <div class="row">
                                         <div class="col-md-12 col-sm-12 col-xs-12">
                                            <!-- Start Slider content -->
                                            <div class="slide-content text-center">
                                                <h2 class="title2">GCIT Asset Tagging Application</h2>
                                                <div class="layer-1-3">
                                                    <a href="#" class="ready-btn left-btn" >Get started</a>
                                                </div>
                                            </div>
                                            <!-- End Slider content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->
        <!-- Start Count area -->
        
        <div class="counter-area fix area-padding-2">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>How to Get Started</h3>
                            <p>GCIT ATA</p>
						</div>
					</div>
				</div>
                <!-- Start counter Area -->
                 <div class="row">
                    <div class="fun-content">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            
                            <div class="fun_text">
                                <img src="{% static 'frontend/img/mobile.png' %}" alt="">
                                <h4>Use Mobile</h4>
                              </div>
                              
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            
                            <div class="fun_text">
                                <img src="{% static 'frontend/img/qr-code.png' %}" alt="">
                                <h4>Scan QR code</h4>
                              </div>
                              
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            
                            <div class="fun_text">
                                <img src="{% static 'frontend/img/file.png' %}" alt="">
                                <h4>View Details</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            
                            <div class="fun_text">
                                <img src="{% static 'frontend/img/problem.png' %}" alt="">
                                <h4>Send Report</h4>
                              </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Count area -->
       
        <!-- Start Support-service Area -->
        <div class="support-service-area bg-color fix area-padding-2">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>System Features</h3>
                            <p>GCIT ATA</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="support-all">
                        <!-- Start About -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services wow ">
                                <a class="support-images" href="#"><i class="flaticon-023-management"></i></a>
                                <div class="support-content">
                                    <h4>QR code scanning:</h4>
                                    <p>The system have the ability to scan QR codes attached to assets to retrieve information about them.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start About -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services ">
                                <a class="support-images" href="#"><i class="flaticon-036-security"></i></a>
                                <div class="support-content">
                                    <h4>Asset tracking</h4>
                                    <p>The system should track the movement and location of assets, enabling you to know the current location of each asset</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services ">
                                <a class="support-images" href="#"><i class="flaticon-003-approve"></i></a>
                                <div class="support-content">
                                    <h4>Asset identification</h4>
                                    <p>The system can be able to uniquely identify each asset using a QR code, providing asset details such as asset name, owner, and location.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services">
                                <a class="support-images" href="#"><i class="flaticon-042-wallet"></i></a>
                                <div class="support-content">
                                    <h4>Mobile access</h4>
                                    <p>The system allows you to access asset information using mobile devices, enabling you to manage your assets remotely.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services ">
                                <a class="support-images" href="#"><i class="flaticon-032-report"></i></a>
                                <div class="support-content">
                                    <h4>Email Alerts</h4>
                                    <p>The system should be able to send email alerts to finance team to notify them when a faulty asset has been identified.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services">
                                <a class="support-images" href="#"><i class="flaticon-024-megaphone"></i></a>
                                <div class="support-content">
                                    <h4>Real-time Data Syncing</h4>
                                    <p>The system ensures that any changes made in one system are immediately reflected in the other system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Support-service Area -->
        <!-- Start Self-area -->
        <div class="self-area area-padding">
            <div class="container">
                <div class="row">
                    <!-- column end -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="self-content">
							<h4>Asset management is the process of identifying what you have, where it is, how much it's worth, and what condition it's in. It's about understanding the full lifecycle of your assets, from acquisition to disposal, and making strategic decisions to ensure that they are used effectively and efficiently.</h4>
                            <span class="talk-text">Unknown</span>
                        </div>
                    </div>
                    <!-- column end -->
                </div>
            </div>
        </div>
        <!-- End Self-area -->
       
        <!-- partner banner -->
        <!-- <div class="banner-area area-padding" style="background-color: #ffffff;">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Project Partners</h3>
                        <p>GCIT ATA</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-all area-80 text-center">
                            <div class="partner-logos">
                                <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 1">
                                <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 2">
                                <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="banner-area area-padding" style="background-color: #ffffff;">
            <div class="container">
              <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                  <h3>Project Partners</h3>
                  <p>GCIT ATA</p>
                </div>
              </div> -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-all area-80 text-center">
                    <div class="banner-content">
                        <h3>Our Official Project Partners</h3>
            
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="banner-all area-80 text-center">
                    <div class="partner-logos">
                      <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 1">
                      <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 2">
                      <img src="{% static 'frontend/img/logo/logo.png' %}" alt="Company 3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- end partner banner -->
{% endblock %}

       