<!DOCTYPE html>
<html>
<head>
	<title>Report Already Submitted</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
			text-align: center;
			padding-top: 50px;
		}
		h1 {
			font-size: 4em;
			color: #ff6666;
			margin-bottom: 0;
		}
		p {
			font-size: 2em;
			color: #666;
			margin-top: 0;
		}
		img {
			width: 500px;
			height: 500px;
			margin-bottom: 50px;
		}
		a {
			color: #ff6666;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>Report Already Submitted</h1>
	<p>We're sorry, but a report for this asset has already been submitted.</p>
	<p>Please contact us if you have any questions or concerns.</p>
	<a href="/index">Back to Home</a>
</body>
</html>
