{% load static %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asset Management</title>
  
    <!-- Tailwind is included -->
    <link rel="stylesheet" href="{% static 'backend/css/main.css' %}">
  
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'backend/favicon.ico' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'backend/favicon.ico' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'backend/favicon.ico' %}"/>
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#00b4b6"/>
  
    <meta name="description" content="Admin One - free Tailwind dashboard">
  
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130795909-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130795909-1');
    </script>
  
  </head>
<body>

<div id="app">

  <nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item mobile-aside-button">
        <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
      </a>
      <!-- <div class="navbar-item">
        <div class="control"><input placeholder="Search everywhere..." class="input"></div>
      </div> -->
      <div class="navbar-item">
        <form method="GET">
          <div class="navbar-item">
              <div class="control">
                  <input type="text" placeholder="Search by Asset ID..." name="search_term" class="input" value="{{ request.GET.search_term }}">
              </div>
          </div>
      </form>
      </div>
      
    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
       
        <div class="navbar-item dropdown has-divider has-user-avatar">
          <a class="navbar-link">
            <div class="user-avatar">
              <img src="{% static 'backend/img/admin-logo.png' %}" alt="" class="rounded-full">
            </div>
            <div class="is-user-name"><span>{{ request.user.username }}</span></div>
            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'backend:profile' %}" class="navbar-item">
              <span class="icon"><i class="mdi mdi-account"></i></span>
              <span>My Profile</span>
            </a>
            <hr class="navbar-divider">
            <a href="{% url 'backend:logout' %}" class="navbar-item">
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span>Log Out</span>
            </a>
          </div>
        </div>
      
        </a>
      </div>
    </div>
  </nav>
  
  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div>
        Admin <b class="font-black">ATA</b>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li class="--set-active-tables-html">
          <a href="{% url 'backend:dashboard' %}">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>
      </ul>
      <p class="menu-label">Asset Management</p>
      <ul class="menu-list">
        <li class="active">
          <a href="{% url 'backend:manageasset' %}">
            <span class="icon"><i class="mdi mdi-table"></i></span>
            <span class="menu-item-label">Manage Asset</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="{% url 'backend:category' %}">
            <span class="icon"><i class="mdi mdi-table"></i></span>
            <span class="menu-item-label">Manage Categories</span>
          </a>
        </li>
        
        
        <!-- <li class="--set-active-forms-html">
          <a href="forms.html">
            <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
            <span class="menu-item-label">Forms</span>
          </a>
        </li> -->
       
       
        <li>
          <a class="dropdown">
            <span class="icon"><i class="mdi mdi-view-list"></i></span>
            <span class="menu-item-label">Asset Categories</span>
            <span class="icon"><i class="mdi mdi-plus"></i></span>
          </a>
          <ul>
            {% for c in category %}
            <li>
              <a href="{% url 'backend:category_table' c.id %}">
                <span>{{ c.category_name }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <p class="menu-label">Asset Report Management</p>
      <ul class="menu-list">
        <li class="--set-active-profile-html">
          <a href="{% url 'backend:report' %}">
            <span class="icon"><i class="mdi mdi-alert-circle-outline"></i>
            </span>
            <span class="menu-item-label">View Report</span>
          </a>
        </li>
        
      </ul>
      <p class="menu-label">User Management</p>
      <ul class="menu-list">
        <li class="--set-active-profile-html">
          <a href="{% url 'backend:profile' %}">
            <span class="icon"><i class="mdi mdi-account-circle"></i></span>
            <span class="menu-item-label">Profile</span>
          </a>
        </li>
        <li class="--set-active-profile-html">
          {% if request.user.is_superuser %}
          <a href="{% url 'backend:user_list' %}">
              <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
              <span class="menu-item-label">View Users</span>
          </a>
      {% endif %}
        </li>
        
        
      </ul>
    </div>
  </aside>


<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Manage Asset</li>
    </ul>
   
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      GCIT Asset Details
    </h1>
    <!-- <button class="button light">Button</button> -->
  </div>
</section>

  <section class="section main-section">
    <!-- <div class="notification blue">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
        <div>
          <span class="icon"><i class="mdi mdi-buffer"></i></span>
          <b>Responsive table</b>
        </div>
        <button type="button" class="button small textual --jb-notification-dismiss">Dismiss</button>
      </div>
    </div> -->
    <div class="field">
      <div class="control">
        <button id="add-user-button" class="button green --jb-modal" data-target="sample-modal-2" type="button">
          Add Asset
        </button>
        <button id="add-user-button" class="button green --jb-modal" data-target="sample-modal-3" type="button">
          Bulk Upload
        </button>
        <button id="add-user-button" class="button green --jb-modal" data-target="sample-modal-4" type="button">
          <a href="{% url 'backend:print_qr' %}">Print QR</a>
        </button>
        
        
        <button id="add-user-button" class="button green --jb-modal" data-target="" type="button">
          <a href="{% url 'backend:export_to_excel' %}">Export to Excel</a>
        </button>
       

      </div>
    
    </div>
    
    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          All Assets
        </p>
      </header>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>sl.no</th>
              <th>QR Code</th>
              <th>Asset Id</th>
              <th>Item Name</th>
              <th>Category</th>
              <th>Sub-Category</th>
              <th>Location</th>
              <th>Owner</th>
              <th>Purchase Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% if request.GET.search_term %}
              {% with search_term=request.GET.search_term|lower %}
                {% for asset in assets %}
                  {% if search_term in asset.asset_id|lower or search_term in asset.name|lower %}
              <tr id="asset-{{ asset.id }}">
                <td class="slno">{{ forloop.counter }}</td>
                <td class="image-cell">
                  <div class="image">
                    <img src="{{ asset.qr_code.url }}" class="rounded-full">
                  </div>
                </td>
                <td data-label="Asset Id">{{ asset.asset_id }}</td>
                <td data-label="Asset Name">{{ asset.name }}</td>
                <td data-label="Cagetory">{{ asset.category }}</td>
                <td data-label="Sub-Category">{{ asset.sub_category }}</td>
                <td data-label="Location">{{ asset.location }}</td>
                <td data-label="Owner">{{ asset.owner }}</td>
                <td data-label="Date">{{ asset.purchase_date }}</td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
                    <button class="button small blue" onclick="printQR('{{ asset.qr_code.url }}')" type="button">
                      <span class="icon"><i class="mdi mdi-printer"></i></span>
                    </button>
                    <button class="button small green --jb-modal" data-target="sample-modal" data-asset-id="{{ asset.asset_id }}" data-asset-name="{{ asset.name }}" data-asset-category="{{ asset.category.pk }}" data-asset-sub-category="{{ asset.sub_category }}" data-asset-location="{{ asset.location }}" data-asset-owner="{{ asset.owner }}" data-asset-purchase-date="{{ asset.purchase_date }}" type="button">
                      <span class="icon"><i class="mdi mdi-pencil"></i></span>
                    </button>
                    <button class="button small red --jb-modal" data-target="sample-modal-{{ asset.asset_id }}" type="button">
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                     <!-- delete asset from the table modal -->
                     <div id="sample-modal-{{ asset.asset_id }}" class="modal">
                      <div class="modal-background --jb-modal-close"></div>
                      <div class="modal-card">
                          <header class="modal-card-head">
                              <p class="modal-card-title">Delete Asset</p>
                          </header>
                          <section class="modal-card-body">
                              <p>Are you sure you want to delete {{ asset.name }}?</p>
                          </section>
                          <footer class="modal-card-foot">
                              <button class="button --jb-modal-close">Cancel</button>
                              <form action="{% url 'backend:delete_asset' asset.asset_id %}" method="POST" class="delete-form">
                                  {% csrf_token %}
                                  <button type="submit" class="button red">Delete</button>
                              </form>
                          </footer>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            {% endwith %}
          {% else %}
          <!-- <table>
            <tbody> -->
              {% for asset in assets %}
              <tr  id="asset-{{ asset.id }}">
                <td class="slno">{{ forloop.counter }}</td>
                <td class="image-cell">
                  <div class="image">
                    <img src="{{ asset.qr_code.url }}" class="rounded-full">
                  </div>
                </td>
                <td data-label="Asset Id">{{ asset.asset_id }}</td>
                <td data-label="Asset Name">{{ asset.name }}</td>
                <td data-label="Cagetory">{{ asset.category }}</td>
                <td data-label="Sub-Category">{{ asset.sub_category }}</td>
                <td data-label="Location">{{ asset.location }}</td>
                <td data-label="Owner">{{ asset.owner }}</td>
                <td data-label="Date">{{ asset.purchase_date }}</td>
                <td class="actions-cell">
                  <div class="buttons right nowrap">
                   
                    <button class="button small blue" onclick="printQR('{{ asset.qr_code.url }}')" type="button">
                      <span class="icon"><i class="mdi mdi-printer"></i></span>
                    </button>
                    
                    
                    <button class="button small green --jb-modal" data-target="sample-modal" data-asset-id="{{ asset.asset_id }}" data-asset-name="{{ asset.name }}" data-asset-category="{{ asset.category.pk }}" data-asset-sub-category="{{ asset.sub_category }}" data-asset-location="{{ asset.location }}" data-asset-owner="{{ asset.owner }}" data-asset-purchase-date="{{ asset.purchase_date }}" type="button">
                      <span class="icon"><i class="mdi mdi-pencil"></i></span>
                    </button>
                   
                    <button class="button small red --jb-modal" data-target="sample-modal-{{ asset.asset_id }}" type="button">
                      <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                    </button>
                    <!-- delete asset from the table modal -->
                      <div id="sample-modal-{{ asset.asset_id }}" class="modal">
                        <div class="modal-background --jb-modal-close"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Delete Asset</p>
                            </header>
                            <section class="modal-card-body">
                                <p>Are you sure you want to delete {{ asset.name }}?</p>
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button --jb-modal-close">Cancel</button>
                                <form action="{% url 'backend:delete_asset' asset.asset_id %}" method="POST" class="delete-form">
                                    {% csrf_token %}
                                    <button type="submit" class="button red">Delete</button>
                                </form>
                            </footer>
                        </div>
                      </div>
                     
  
                    
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
        </table>
        
        {% if assets.has_other_pages %}
  <div class="table-pagination">
    <div class="flex items-center justify-between">
      <div class="buttons">
        {% if assets.has_previous %}
          <a href="?page=1" class="button {% if assets.number == 1 %}active{% endif %}">&lt;&lt;</a>
          <a href="?page={{ assets.previous_page_number }}" class="button {% if assets.number == 1 %}active{% endif %}">&lt;</a>
        {% endif %}
    
        {% for i in assets.paginator.page_range %}
          {% if assets.number == i %}
            <button type="button" class="button active">{{ i }}</button>
          {% else %}
            <a href="?page={{ i }}" class="button">{{ i }}</a>
          {% endif %}
        {% endfor %}
    
        {% if assets.has_next %}
          <a href="?page={{ assets.next_page_number }}" class="button {% if assets.number == assets.paginator.num_pages %}active{% endif %}">&gt;</a>
          <a href="?page={{ assets.paginator.num_pages }}" class="button {% if assets.number == assets.paginator.num_pages %}active{% endif %}">&gt;&gt;</a>
        {% endif %}
      </div>
      <small>Page {{ assets.number }} of {{ assets.paginator.num_pages }}</small>
    </div>
  </div>
{% endif %}

      </div>
    </div>

           
    <!-- <div class="notification red">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
        <div>
          <span class="icon"><i class="mdi mdi-buffer"></i></span>
          <b>Empty table.</b>
        </div>
        <button type="button" class="button small textual --jb-notification-dismiss">Dismiss</button>
      </div>
    </div> -->

    <div class="card empty">
      <div class="card-content">
        <div>
          <span class="icon large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span>
        </div>
        <p>Nothing's here…</p>
        
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
      <div class="flex items-center justify-start space-x-3">
        <div>
          © 2023, Asset Tagging Application
        </div>
      </div>    
    </div>
  </footer>


<!-- edit asset details modal -->
<div id="sample-modal" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Asset</p>
    </header>
    <section class="modal-card-body">
      <form method="POST" enctype="multipart/form-data" action="{% url 'backend:edit_asset' %}">

        {% csrf_token %}
        <div class="field">
          <label class="label">Asset Id</label>
          <div class="control">
            <input class="input" type="text" name="asset_id" value="" readonly>
          </div>
        </div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="name" value="" id="name-input">
            </div>
        </div>
        <div class="field">
            <label class="label">Category</label>
            <div class="control">
                <select class="input" name="category">
                    {% for c in category %}
                        <option value="{{ c.pk }}" {% if c.pk == asset.category.pk %}selected{% endif %}>{{ c.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field">
            <label class="label">Sub-Category</label>
            <div class="control">
                <input class="input" type="text" name="sub_category" value="{{ asset.sub_category }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Location</label>
            <div class="control">
                <input class="input" type="text" name="location" value="{{ asset.location }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Owner</label>
            <div class="control">
                <input class="input" type="text" name="owner" value="{{ asset.owner }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Purchase Date</label>
            <div class="control">
                <input class="input" type="date" name="purchase_date" value="{{ asset.purchase_date }}">
            </div>
        </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button --jb-modal-close">Cancel</button>
          <button id="add-user-submit" class="button blue" type="submit">Save Changes</button>
        </footer>
    </form>                      
  </div>
</div>
<!-- end of edit asset modal --> 
       
<!-- bulk asset upload from excel file -->
<div id="sample-modal-3" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Upload Excel File</p>
    </header>
    <form method="post" enctype="multipart/form-data" action="{% url 'backend:upload_excel_file' %}">
      {% csrf_token %}
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Choose Excel File:</label>
          <div class="control">
            <input type="file" name="excel_file" accept=".xlsx, .xls">
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <!-- <button class="button --jb-modal-close">Cancel</button> -->
        <button class="button blue" type="submit">Upload</button>
      </footer>
    </form>
  </div>
</div>

<!-- export asset table asexcel file -->


<!-- add asset individually modal -->
<div id="sample-modal-2" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Upload Asset Details</p>
    </header>
    <section class="modal-card-body">
      <form method="POST" enctype="multipart/form-data" action="{% url 'backend:add_asset' %}">
        {% csrf_token %}
        <div class="field">
          <label class="label">Asset Id</label>
          <div class="control">
            <input class="input" type="text" name="asset_id" placeholder="Enter asset id" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" placeholder="Enter asset name" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <select class="input" name="category" style="display: block;">
              {% for c in category %}
              <option value="{{ c.pk }}">{{ c.category_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">Sub-Category</label>
          <div class="control">
            <input class="input" type="text" name="sub_category" placeholder="Enter asset sub-category" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Location</label>
          <div class="control">
            <input class="input" type="text" name="location" placeholder="Enter asset location">
          </div>
        </div>

        <div class="field">
          <label class="label">Owner</label>
          <div class="control">
            <input class="input" type="text" name="owner" placeholder="Enter asset owner">
          </div>
        </div>

        <div class="field">
          <label class="label">Purchase Date</label>
          <div class="control">
            <input class="input" type="date" name="purchase_date" required>
          </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button --jb-modal-close">Cancel</button>
      <button id="add-user-submit" class="button blue" type="submit">Submit</button>
    </footer>
</form>
  </div>
</div>
<!-- end of add asset individually modal -->




</div>
<!-- print qr code individually -->
<script>
  function printQR(qrCodeUrl) {
    var printWindow = window.open(qrCodeUrl);
    printWindow.print();
  }
</script>
<!-- script to pre-populate the edit details form  -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('sample-modal');
    const nameInput = document.getElementById('name-input');
    const categorySelect = document.querySelector('select[name="category"]');
    const subCategoryInput = document.querySelector('input[name="sub_category"]');
    const locationInput = document.querySelector('input[name="location"]');
    const ownerInput = document.querySelector('input[name="owner"]');
    const purchaseDateInput = document.querySelector('input[name="purchase_date"]');
    
    const editButtons = document.querySelectorAll('.--jb-modal[data-target="sample-modal"]');
    
    editButtons.forEach(editButton => {
      editButton.addEventListener('click', () => {
        const assetName = editButton.dataset.assetName;
        const assetCategory = editButton.dataset.assetCategory;
        const assetSubCategory = editButton.dataset.assetSubCategory;
        const assetLocation = editButton.dataset.assetLocation;
        const assetOwner = editButton.dataset.assetOwner;
        const assetId = editButton.dataset.assetId;

        const assetPurchaseDate = editButton.dataset.assetPurchaseDate;
        const purchaseDateParts = assetPurchaseDate.split(", "); // split the date string into parts
        const year = purchaseDateParts[1];
        const monthName = purchaseDateParts[0].split(" ")[0];
        const month = new Date(Date.parse(monthName +" 1, 2022")).getMonth() + 1; // convert month name to number
        const day = purchaseDateParts[0].split(" ")[1].replace(/\D/g,''); // extract day number from string
        const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;
        

        
        console.log(assetPurchaseDate)
        
        nameInput.value = assetName;
        categorySelect.value = assetCategory;
        subCategoryInput.value = assetSubCategory;
        locationInput.value = assetLocation;
        ownerInput.value = assetOwner;
        purchaseDateInput.value = formattedDate; // set the value of the input field

        

        document.querySelector('input[name="asset_id"]').value = assetId;
      });
    });
  });
</script>

<!-- delete asset script -->


<!-- Scripts below are for demo only -->
<script type="text/javascript" src="{% static 'backend/js/main.min.js' %}"></script>

<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '658339141622648');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1"/></noscript>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>
